*{
  font-family: sans-serif;
}
.businesseshousingsplash{
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  /* gap: 2px; */
  width: 80%;
  border-bottom: 2px solid rgba(10, 10, 10, .3);
}
.Businessouterhousing{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.revhousingsplash{
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  gap: 32px;
  width: 80%;
}
.cycleimgsplash{
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 100%;
  height: 800px;
  max-height: 800px;
  z-index: -1;
}
.rmaxevOuterHousing{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.container-basic{
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid black;
  max-height: 500px;
  margin: 5%;
}
.pfp-review{
  max-width: 50px;
  max-height: 50px;
}

.user-review-info{
  display: flex;
  flex-direction: row;
}
.welcomeSplash{
  margin-top: 50px;
  margin-left: 40%;
}

.stars-review{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-for-not-against{
  display: flex;
  flex-direction: row;
}
.stars-create-review-page{
  display: flex;
  flex-direction: row;
}

.selected{
  background-color: rgba(233, 198, 111, 0.4);
}

.businessImgSplashPage{
  max-width: 250px;;
  max-height: 250px;;
  height: 250px;
  width: 250px;
  min-width: 250px;;
  min-height: 250px;;
  border-radius: 5px;
  margin-right: 2em;
}

.LittleBusiness{
  display: flex;
  flex-direction: row;
  width: 95%;
  min-width: 419px;
  border: 2px solid rgba(150, 150, 150, .4);
  /* padding: 10px; */
  border-radius: 5px;
  margin: 5%;
  height: 250px;
}

.spacerforbusiness{
  margin-top: 10px;
}
/*
html{
  background-color: azure;
} */

.CreateForm{

  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 700px;
}

.HelpLogo{
  position: absolute;
  top: 0;
  bottom: 0;
  /* margin-left: 100px; */
  align-items: flex-start;
  font-family: fantasy;
  font-style: oblique;
  font-variant: small-caps;
  font-size: 50px ;
  text-decoration: none;
  color: black;
}
a, NavLink{
  text-decoration: none;
}

.input{
  height: 30px;
  width: 500px;
  padding: 1em;
  margin: 1em;
  border: 2px solid lightblue;
  border-radius: 1em;
}

.reviewinfo{
  margin: 2em;
}

#revHeading{
  display: flex;
  justify-content: center;
  /* margin-left: 50%;
  margin-right: 50%;
  margin-top: 2%; */
  font-weight: 900;
  font-size:xx-large ;
}

.AuthTop{
  display: flex;
  background-color: red;
  position: absolute;
  /* background-size: cover; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 84px;
  justify-content: center;
}

.AuthContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AuthInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* margin-top: 10%; */
  margin-right: 10%;
  /* margin-bottom: 10%;  */
}

.AuthImg{
  display: flex;
  align-items: flex-start;
  /* margin-top: 10%;*/
  margin-right: 10%;
 /*  margin-bottom: 10%; */
}

.AuthInput{
padding: .5em;
border: .3px solid grey;
width: 100%;
border-radius: 3px;
margin: .5em;
}


.AuthInfoSign{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navBar{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items:flex-start ;
  border-bottom: 2px solid black;
  /* background-color: bisque; */
}

.secondarynavstuff{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  /* height: */
  /* padding: 40px; */
  flex-direction: row;
}

#logout{
  font-size: large;
  font-weight: bolder;
  color: aliceblue;
}

.reviewBox{
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.reviewinput{
  /* background-color: aqua; */
  border: none;
  /* resize: none; */
  height: 370px;
  width: 625px;
}
.reviewInputContents{
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  /* display: flex; */
  resize: none;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  border: 0;
  width: 625px;
  height: 370px;
  max-width: 625px;
  padding: 0;
  /* resize: none; */
  flex-wrap: wrap;
  word-break: break-all;
  color: rgba(45,46,47,1);
}
.reviewdisplay{
  flex-wrap: wrap;
  word-break: break-all;
  max-height: 100px;
  overflow-y: auto;
}

.oldButton{
  background-color: rgba(150, 150, 150, .8);
  justify-content: center;
  padding: .5em;
  border: 0px solid grey;
  width: 190px;
  height: 41px;
  border-radius: 3px;
  /* margin: .5em; */
  /* border: none; */
  font-weight: bolder;
  font-size: large;
  color: white;
  margin-right: 30px;
}
.oldButton:hover{
  background-color: rgba(150, 150, 150, .9);

}

.newButtontwo{
  display: flex;
  padding: .5em;
  border: .3px solid grey;
  width: 145px;
  border-radius: 3px;
  margin: .5em;
  background-color:red;
  font-size: large;
  font-weight: bolder;
  color: white;
  justify-content: center;
  }

  .newButtontwo:hover{
  /* padding: .5em; */
  /* border: .3px solid grey;
  border-radius: 3px;
  margin: .5em; */
  background-color: rgba(205, 10, 10, 1);
  }
  .newButton{
    display: flex;
    padding: .5em;
    border: .3px solid grey;
    /* height: 1em; */
    width: 94%;
    border-radius: 3px;
    margin: .5em;
    background-color:red;
    font-size: large;
    font-weight: bolder;
    color: white;
    justify-content: center;
    }

    .newButton:hover{
    /* padding: .5em; */
    /* border: .3px solid grey;
    border-radius: 3px;
    margin: .5em; */
    background-color: rgba(205, 10, 10, 1);
    }

    .logo-housing{
      position: relative;
      top: -45px;
      left: 100px;
    }


    .wnewButton{
      display: flex;
      padding: .5em;
      border: .3px solid grey;
      width: 94%;
      border-radius: 3px;
      margin: .5em;
      background-color:rgba(150, 150, 150, .4);
      font-size: large;
      font-weight: bolder;
      color: white;
      justify-content: center;
      }

      .wnewButton:hover{
      /* padding: .5em; */
      /* border: .3px solid grey;
      border-radius: 3px;
      margin: .5em; */
      background-color: rgba(150, 150, 150, .7);
      }




    .product-review-stars{
      display: flex;
      justify-content: left;
      margin: 0 0px;
      /* background: #2C3E50; */
      padding: 0px 0px 0px 0px;
    }

    .product-review-stars label{
        background-color: rgba(150, 150, 150, .4);
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }

    /*end decoration*/

    .hidden{
      position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
    }
    .baseStar{
      color: white;
    }
    .product-review-stars  {
      unicode-bidi: bidi-override;
      direction: rtl;
      width:  205px;
    }

    .product-review-stars label{
        font-family: "icomoon";
        font-size: 2em;
        position: relative;
        cursor: pointer;
        color: #DFE3E4;
    }
    .product-review-stars input:checked ~ label:before{
        opacity: 1;
    }
    .product-review-stars:hover input ~ label:before{
        opacity: 0;
    }

    .product-review-stars input + label:before{
        content: "\2605";
        position: absolute;
        right: 0;
        opacity: 0;
        /* transition: opacity .3s ease-in-out, color .3s ease-in-out; */
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden;

    }
    .product-review-stars input + label:hover:before,
    .product-review-stars input + label:hover ~ label:before
    {
        opacity: 1;
    }

    .product-review-stars input + label:nth-of-type(1):after,
    .product-review-stars input + label:nth-of-type(1):before,
    .product-review-stars input +  label:nth-of-type(1):hover:before,
    .product-review-stars input + label:nth-of-type(1):hover ~ label:before,
    .product-review-stars input:nth-of-type(1):checked ~ label:before{
        background-color: #2ecc71;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }

    .product-review-stars input + label:nth-of-type(2):after,
    .product-review-stars input + label:nth-of-type(2):before,
    .product-review-stars input + label:nth-of-type(2):hover:before,
    .product-review-stars input + label:nth-of-type(2):hover ~ label:before,
    .product-review-stars input:nth-of-type(2):checked ~ label:before{
        background-color: #f1c40f;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }
    .product-review-stars input + label:nth-of-type(3):after,
    .product-review-stars input + label:nth-of-type(3):before,
    .product-review-stars input + label:nth-of-type(3):hover:before,
    .product-review-stars input + label:nth-of-type(3):hover ~ label:before,
    .product-review-stars input:nth-of-type(3):checked ~ label:before{
        background-color: #F39C12;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }
    .product-review-stars input + label:nth-of-type(4):after,
    .product-review-stars input + label:nth-of-type(4):before,
    .product-review-stars input + label:nth-of-type(4):hover:before,
    .product-review-stars input + label:nth-of-type(4):hover ~ label:before,
    .product-review-stars input:nth-of-type(4):checked ~ label:before{
        background-color: #e74c3c;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }

    .product-review-stars input + label:nth-of-type(5):after,
    .product-review-stars input + label:nth-of-type(5):before,
    .product-review-stars label:nth-of-type(5):hover:before,
    .product-review-stars input:nth-of-type(5):checked ~ label:before{
        background-color: #d35400;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }

    .product-review-stars label:nth-of-type(5):hover:before{
        background-color: #d35400 !important;
        border: black 1px solid;
        padding: 0px 5px 5px 5px ;
        border-radius: 10px;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .mySwiper{
      position: relative;
      z-index: -1;
    }

    .errors{
      position: relative;
      left: 50px;
      top: 50px;
      display: flex;
      justify-content: center;
      font-weight: bolder;
      font-size: large;
    }

    .error-holder{
    height: 200px;
    }

    .resize{
      height: 800px;
      max-height: 800px;
      width: 100%;
    }

    .bolder{
      /* size: 10px; */

      font-size: 30px;
      font-weight: bold;
      color: black;
    }
    /* .bolder:hover{
      border-bottom: 2px solid black;
    } */

    .bold{
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
    /* .bold:hover{
      border-bottom: 2px solid black;
    } */
    .blue{
      color:blue
    }
    .businessPageHousingOuter{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .businessPageHousinginner{
      margin-left: 10%;
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      width: 80%;
    }
.extra{
  font-size: 70px ;
  font-weight: 770;
}
.infoBox{
  position: absolute;
  top: 20%;
  left: 65%;
  right: 0%;
  bottom: 0;
  border: 1px solid black;
  height: 100px;
  width: 350px;
  border-radius: 10px;
}
.border{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.padding{
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}
.smallpic{
  height: 30px;
  width: 30px;
  padding-right: 5px;
  padding-bottom: 3px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(150, 150, 150, .4);
  height: 200px;
  max-height: 200px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.Github{
  /* background-color: lightblue; */
  padding: 30px;

}
.languages{
  /* background-color: lightcoral; */
  padding: 30px;
}
.rounded{
  height:25px;
  width: 25px;
  border-radius: 12.5px;
  padding-left: 5px;
  padding-right: 5px;
}
.footerholder{
  border-top: 1px solid rgba(10, 10, 10, .3);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-top{
  border-top: 1px solid rgba(150, 150, 150, .4);
}

.edit-delete{
  display: flex;
  flex-direction: row;
  width: 40%;
}
.small{
  width: 30%;
}

.side{
  position: absolute;
  top: 20%;
  left: 75%;
  right: 0%;
  bottom: 0;
  /* border: 1px solid black; */
  height: 100px;
  width: 350px;
  border-radius: 10px;
}
.aws-input{
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  width: 200px;
  /* height: 0px; */
}
.revOuterHousing{
  display: flex;
  justify-content: center;
}
.CreateFormbiz{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 700px;
  width: 75%;
}
.container-basic-rev{
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid black;
  max-height: 500px;
  margin: 5%;
}
@media (max-width: 1550px) {
  .Businessouterhousing{
    /* background-color: #f1c40f; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .businesseshousingsplash{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 800px;
  }
  .resize{
  min-width: 800px;
  }
  .revhousingsplash{
    /* background-color: #f1c40f; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 800px;
  }
}
span:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
