.businesseshousingsplash{
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  gap: 32px;

}
.revhousingsplash{
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  gap: 32px;
}

.container-basic{
  max-height: 300px;
  overflow-y: auto;
}
.pfp-review{
  max-width: 50px;
  max-height: 50px;
}

.user-review-info{
  display: flex;
  flex-direction: row;
}

.stars-review{
  display: flex;
  flex-direction: row;
}

.work-for-not-against{
  display: flex;
  flex-direction: row;
}
.stars-create-review-page{
  display: flex;
  flex-direction: row;
}

.selected{
  background-color: rgba(233, 198, 111, 0.4);
}

.ReviewPage{
  background-color: antiquewhite;
}

.businessImgSplashPage{
  max-width: 100px;
  max-height: 100px;
}

.LittleBusiness{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  margin: 5%;
}

.spacerforbusiness{
  margin-top: 20px;
}
